<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MacUIRequiredDeviceCapabilities</key>
	<dict>
		<key>arm64</key>
		<true/>
	</dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>arm64</key>
		<true/>
	</dict>
	<key>appleId</key>
	<string>8618523940734</string>
	<key>artistId</key>
	<integer>1533529523</integer>
	<key>artistName</key>
	<string>文雪 程</string>
	<key>bundleDisplayName</key>
	<string>ZK助手</string>
	<key>bundleShortVersionString</key>
	<string>4.9.0</string>
	<key>bundleVersion</key>
	<string>2.1</string>
	<key>com.apple.iTunesStore.downloadInfo</key>
	<dict>
		<key>accountInfo</key>
		<dict>
			<key>AccountStoreFront</key>
			<string>143465-19,32</string>
			<key>AppleID</key>
			<string>8618523940734</string>
			<key>DSPersonID</key>
			<integer>20686457175</integer>
			<key>DownloaderID</key>
			<integer>0</integer>
			<key>FamilyID</key>
			<integer>0</integer>
			<key>FirstName</key>
			<string>别开枪，是我</string>
			<key>LastName</key>
			<string>所长</string>
			<key>PurchaserID</key>
			<integer>20686457175</integer>
			<key>UserName</key>
			<string>别开枪，是我 所长</string>
		</dict>
		<key>purchaseDate</key>
		<string>2024-10-02T15:57:06Z</string>
	</dict>
	<key>copyright</key>
	<string>© Gloria</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>gameCenterEnabled</key>
	<false/>
	<key>gameCenterEverEnabled</key>
	<false/>
	<key>genre</key>
	<string>工具</string>
	<key>genreId</key>
	<integer>6002</integer>
	<key>hasOrEverHasHadIAP</key>
	<true/>
	<key>is-purchased-redownload</key>
	<true/>
	<key>itemId</key>
	<integer>1498018958</integer>
	<key>itemName</key>
	<string>ZK助手 - 悬浮时钟抢购神器</string>
	<key>kind</key>
	<string>software</string>
	<key>nameTranscriptions</key>
	<dict>
		<key>zh-Hans-CN</key>
		<array>
			<string>ZK助手 - 悬浮时钟抢购神器</string>
			<string>ZK zhù shǒu - xuán fú shí zhōng qiǎng gòu shén qì</string>
			<string>ZK助手 - 懸浮時鐘搶購神器</string>
		</array>
	</dict>
	<key>playlistName</key>
	<string>文雪 程</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>purchaseDate</key>
	<date>2024-10-02T15:57:06Z</date>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string></string>
		<key>label</key>
		<string>4+</string>
		<key>rank</key>
		<integer>100</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2020-02-20T08:00:00Z</string>
	<key>requiresRosetta</key>
	<false/>
	<key>runsOnAppleSilicon</key>
	<true/>
	<key>runsOnIntel</key>
	<false/>
	<key>s</key>
	<integer>143465</integer>
	<key>software-platform</key>
	<string>ios</string>
	<key>softwareIcon57x57URL</key>
	<string>https://is1-ssl.mzstatic.com/image/thumb/Purple221/v4/78/49/fd/7849fd1e-1f30-b3ba-9baa-bfa893c99a25/AppIcon-0-0-1x_U007emarketing-0-6-0-85-220.png/114x114bb.jpg</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>2</integer>
		<integer>9</integer>
		<integer>4</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.ZX.ZKTools</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>871320491</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>834613160</integer>
		<integer>834874053</integer>
		<integer>834909073</integer>
		<integer>835591586</integer>
		<integer>835771105</integer>
		<integer>835778432</integer>
		<integer>836085850</integer>
		<integer>836512001</integer>
		<integer>836581702</integer>
		<integer>836809467</integer>
		<integer>837865342</integer>
		<integer>838079783</integer>
		<integer>838381963</integer>
		<integer>838420087</integer>
		<integer>838484311</integer>
		<integer>838538108</integer>
		<integer>838686003</integer>
		<integer>838793927</integer>
		<integer>839224715</integer>
		<integer>839318673</integer>
		<integer>839418229</integer>
		<integer>839486335</integer>
		<integer>839557262</integer>
		<integer>839614303</integer>
		<integer>839706864</integer>
		<integer>839762973</integer>
		<integer>839812257</integer>
		<integer>839880640</integer>
		<integer>839972868</integer>
		<integer>840073810</integer>
		<integer>840211665</integer>
		<integer>840279007</integer>
		<integer>840374757</integer>
		<integer>840920490</integer>
		<integer>840966638</integer>
		<integer>841300715</integer>
		<integer>841548763</integer>
		<integer>842059648</integer>
		<integer>842132593</integer>
		<integer>842167162</integer>
		<integer>842336017</integer>
		<integer>842518718</integer>
		<integer>843278092</integer>
		<integer>843397464</integer>
		<integer>843498820</integer>
		<integer>843603655</integer>
		<integer>844205840</integer>
		<integer>844686159</integer>
		<integer>844844205</integer>
		<integer>844946918</integer>
		<integer>844993808</integer>
		<integer>845332144</integer>
		<integer>846247413</integer>
		<integer>847196695</integer>
		<integer>847403633</integer>
		<integer>847912167</integer>
		<integer>849440881</integer>
		<integer>850947182</integer>
		<integer>851220174</integer>
		<integer>851558538</integer>
		<integer>851708691</integer>
		<integer>851864207</integer>
		<integer>851996254</integer>
		<integer>852126528</integer>
		<integer>852179229</integer>
		<integer>852420786</integer>
		<integer>852546892</integer>
		<integer>852553166</integer>
		<integer>852561469</integer>
		<integer>852687849</integer>
		<integer>852793503</integer>
		<integer>852838868</integer>
		<integer>852929262</integer>
		<integer>853168491</integer>
		<integer>853455664</integer>
		<integer>853517188</integer>
		<integer>853540558</integer>
		<integer>853692423</integer>
		<integer>853956797</integer>
		<integer>854181217</integer>
		<integer>854239513</integer>
		<integer>854633599</integer>
		<integer>855056176</integer>
		<integer>855076844</integer>
		<integer>855147407</integer>
		<integer>855387860</integer>
		<integer>855829226</integer>
		<integer>856211834</integer>
		<integer>856835375</integer>
		<integer>857233272</integer>
		<integer>857585437</integer>
		<integer>858035709</integer>
		<integer>858983907</integer>
		<integer>859450912</integer>
		<integer>860157654</integer>
		<integer>860458393</integer>
		<integer>860868502</integer>
		<integer>860965303</integer>
		<integer>861743409</integer>
		<integer>864172968</integer>
		<integer>864320305</integer>
		<integer>864495014</integer>
		<integer>864834707</integer>
		<integer>864979593</integer>
		<integer>865068103</integer>
		<integer>865344274</integer>
		<integer>866273562</integer>
		<integer>867194731</integer>
		<integer>867988851</integer>
		<integer>869093243</integer>
		<integer>869184343</integer>
		<integer>869432517</integer>
		<integer>869684161</integer>
		<integer>869797845</integer>
		<integer>870062365</integer>
		<integer>870156760</integer>
		<integer>870701787</integer>
		<integer>870981814</integer>
		<integer>871320491</integer>
		<integer>871861323</integer>
		<integer>872233350</integer>
		<integer>872352924</integer>
		<integer>872598237</integer>
		<integer>873076000</integer>
		<integer>873468644</integer>
		<integer>873648182</integer>
		<integer>873840036</integer>
	</array>
	<key>storeCohort</key>
	<string>10|date=1745375400000&amp;sf=143465&amp;pgtp=Software&amp;pgid=1498018958&amp;prpg=Software_1498018958&amp;ctxt=App%20Store</string>
	<key>userName</key>
	<string>别开枪，是我 所长</string>
	<key>vendorId</key>
	<integer>122160683</integer>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
</dict>
</plist>
