<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>https://dlink.host/1drv/aHR0cHM6Ly8xZHJ2Lm1zL3UvYy84YjBlOGYwN2ViMmYzZjk2L0VleG5KWVZzU1BkT2p1ZFF2RVVkN25JQldGUnFKelctaDlGYlNTcDBFVjRZNGc_ZT1GT216d0I.zip</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.tencent.xin</string>
                    <key>bundle-version</key>
                    <string>8.0.32</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>微信</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
