<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>https://mwkqnq.bl.files.1drv.com/y4myhEawQjXMu76FomarFE3zEJJkCs7tJBEoWWjkUF1r4t6ufKVsZJgavfaZY7tdlr8vjqn56oUlNq8LXme9h5z6ucLrl3DMjChT773_JdT2--8IIn9O5DRel-gnZWkejdkB-Bru84Q-S4I9EvX1EhKSk7YMjDTdkWTE3N7kTpq-Qlh2BSWtAbJjG1orvasA2VTnQryausZ_YUWVoI0gP2ulQ</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.ZX.ZKTools</string>
                    <key>bundle-version</key>
                    <string>4.9.0</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>ZK助手</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
